*{color: white;}

body{
    background-color: rgb(0, 0, 0);
    margin: 50px;
}

h1{
    color: #ff00a6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

table{
    text-align: center;
    width: 100%;
    align:center;
}

#tablabienvenido{
    width: 100%;
}

.bienvenido{
    width: 33.3%;
    text-align: center;
    
   
}

#tablabarra{
    width:100%;
    align:center;
}


a{
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
.barra{
    width: 15%;
    font-size: 100%;
    border:1px;
    border-color: #ff00a6;
    border-style: solid;   
    text-align: center;
}

#tablainicio{
    width: 100%;
}
.generos{
    display: inline-block;
    position: relative;
    width: 100%;
}
.listageneros{
    width: 100%;
    display: none;
    position: absolute;
    overflow: auto;
    box-shadow: 0px 10px 20px 0px rgb(255, 203, 240);
}

.generos:hover .listageneros{
    display: block;
    background-color: rgb(255, 99, 203);
    color:rgb(255, 160, 210);
    display: block;
    text-decoration: none;
    cursor:pointer;
            
}
.listageneros td:hover{
    color: rgb(255, 168, 212);
    background-color: rgb(232, 27, 150);
}

#imageninicio{
    width: 25%;
}

#titulo{
    width: 75%;
}

.barra:hover{
    background-color: rgb(255, 0, 128);

}

.textoanime{
    text-align: justify;
}

td.textoanime{
    width: 60%;
    padding: 3%;
}


#redessociales{
    text-align: center;
    width: 40%;
}

.redes{
    text-align: center;
    width: 25%;
    padding: 1%;
}

footer{
    background-color:  #ff00a6;
}

